* {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
<<<<<<< HEAD
  background-color:beige;
}

.header {
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;  
  padding: 15px 0;
}


=======
  background-color: beige;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 15px 0;
}

>>>>>>> 76df53ee78d1db6c0e2265808e14046a230902f0
.header__logo {
  width: 100px;
  margin: 0 auto;
}

.main {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.main__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 20px;
}

.main__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__title {
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 20px;
  color: gray;
  font-family: "Roboto", sans-serif;
}

.main__subtitle {
  font-size: 32px;
  font-weight: 400;
  color: gray;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.main_description {
  margin-bottom: 25px;
  font-size: 23px;
  font-family: "Shantell Sans", cursive, sans-serif;
}

.img__box {
  max-width: 500px;
<<<<<<< HEAD
  justify-self: center;  

}

.img__box-img {
  width: 300px;
  height: 300px;
  object-position: right;
  object-fit: cover;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
=======
  justify-self: center;
}

.img__box-img {
  width: 450px;
>>>>>>> 76df53ee78d1db6c0e2265808e14046a230902f0
}

.main__links {
  display: flex;
  justify-content: space-around;
}

.main__link {
  margin-right: 10px;
  font-size: 30px;
  color: #000;
}

.bx {
  font-family: boxicons !important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  display: inline-block;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
<<<<<<< HEAD




.main__link-tel{
  position: relative;
}

.main__link-tel::before {
  content: attr(href);
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  padding:15px 30px;
  background-color: #d69e9e;
  color: #fff;
  font-size: 14px;
  white-space: nowrap;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.main__link-tel:hover::before {
  display: block;
}
=======
>>>>>>> 76df53ee78d1db6c0e2265808e14046a230902f0
